.App {
  text-align: center;
  border-left: solid white 30px;
  border-right: solid white 30px;
}
.nav {
  display: flex;
  flex-wrap: nowrap;
  margin-left: -10%;
  margin-right: -10%;
  background-color: #2f3035;
  align-content: flex-end;
  padding: 10px;
  min-height: 50px;
  max-height: 1000px;
  font-size: 10px;
  margin-bottom: 2%;
  background-image: linear-gradient(to right, rgb(54, 54, 54), rgb(27, 25, 24), rgb(31, 29, 29));
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}
#userimg {
  border-radius: 10%;
padding-left: 8%;  max-width: 30%;
  min-width: 20px;
  height: 30px;
  width: auto;
  ;
}
#username {
  border: none;
  color: white;
  padding: 1px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.6rem;
  margin: 6px -29px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 2px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

  
}

.homeButton {
  max-height: 60px;
  width: auto;
  position: absolute;
  right: 10px;
  min-height: 20px;
  border-radius: 5px;
  transition: all 0.15s ease-in-out;

}
.homeButton:hover {
  background-color: #302c68;
  transform: scale(1.1);
}
.themeButton {
  font-size: 0.8em;
  padding: 0.8em;
}

@media screen and (min-width: 480px) {
  .themeButton {
    font-size: 1.5em;
    padding: 1.5em;
  }
}

@media screen and (min-width: 768px) {
  .themeButton {
    font-size: 2em;
    padding: 1.5em;
  }
}
.themeButton {
  position: absolute;
  right: 80px;
  top: 10px;
  height: auto;
  font-size: 0.8rem;
  border-radius: 5px;
  
}
#logo {
  max-width: 90%;
  height: auto;
  border-radius: 20px;
  transition: all 0.15s ease-in-out;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
#logo:hover {
  transform: rotate(1deg);
}
.listItem {
  background-color: rgb(75, 75, 74);
  border-radius: 10px;
  list-style: none;
  padding: 2%;
  margin: 2%;
  margin-left: 10%;
  margin-right: 10%;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.15s ease-in-out;
  background-image: radial-gradient(rgb(27, 27, 27), rgb(65, 65, 64));
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}
.item {
  background-color: rgb(90, 90, 90);
  border-radius: 10px;
  list-style: none;
  padding: 2%;
  margin: 2%;
  font-size: 0.8rem;
margin-left: 10%;
margin-right: 10%;
  cursor: pointer;
  border-radius: 5px;
  background-image: radial-gradient(rgb(27, 27, 27), rgb(65, 65, 64));
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
@media screen and (min-width: 480px) {
  .item {
    font-size: 1.5em;
    padding: 1.5em;
  }
}

@media screen and (min-width: 768px) {
  .item {
    font-size: 2em;
    padding: 1.5em;
  }
}

.listItem:hover {
  background-color: #302c68;
  transform: scale(1.02);
}
img {
  max-width: 100%;
  height: auto;
  width: auto\9;
}

.commentli {
  background-color: rgb(185, 178, 169);  
  border-radius: 5px;
  list-style: none;
  font-size: 0.7rem;
  padding: 2%;
  margin: 2%;
  margin-left: 10%;
  margin-right: 10%;
  color: #2c2c2b;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

@media screen and (min-width: 480px) {
  .commentli {
    font-size: 1.2em;
    padding: 1.2em;
  }
}

@media screen and (min-width: 768px) {
  .commentli {
    font-size: 1.6em;
    padding: 1.3em;
  }
}
.name {
  width: 50%;
  border-radius: 5px;
}
.commentBody {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 80%;
  height: 100px;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}

.comment {
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: rgb(185, 178, 169);  
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
}

button {
  background-color: #302c68;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.15s ease-in-out;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  font-size: 0.6rem;
  padding: 0.6rem;
}
@media (min-width: 912px) {
  button {
    font-size: 1.5rem;
    padding: 1.5rem;
  }
}
@media (min-width: 820px) {
  button {
    font-size: 1.0rem;
    padding: 1.0rem;
  }
}

button:hover {
  background-color: #302c68;
  transform: scale(1.1);
}

select {
  background-color: #302c68;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.15s ease-in-out;
    font-size: 0.6rem;
  padding: 0.6rem;
}

@media (min-width: 912px) {
  select {
    font-size: 1.5rem;
    padding: 1.5rem;
  }
}

@media (min-width: 820px) {
  select {
    font-size: 1.0rem;
    padding: 1.0rem;
  }
}

select:hover {
  background-color: #302c68;
  transform: scale(1.1);
}
h3 {
  font-size: 1.8rem;
  margin: -5px;
}

.img-tooltip {
  position: relative;
  display: inline-block;
}

.img-tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #251c70;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.1s;
}

.img-tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
